body {
    background-image: url('https://raw.githubusercontent.com/Blurayyl/Pelo-amor-de-deus-vai/f860caf6df793519b414aecd1454c7196c071390/8eff30d825d24f496bbfeb1f8f9e3b50.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 3rem;
}
